<p id="notice"><%= notice %></p>

<p>
  <strong>Password:</strong>
  <%= @userpassword.password %>
</p>

<p>
  <strong>User:</strong>
  <%= @userpassword.user %>
</p>

<%= link_to 'Edit', edit_userpassword_path(@userpassword)   , { :class=>"btn btn-primary" }%>
<%= link_to 'Back', userpasswords_path  , { :class=>"btn btn-primary" } %>
