<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Description</th>
      <th>Laslogin</th>
      <th>Isadmin</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
<<<<<<< HEAD
        <td><%= user.adress %></td>
=======
<!--
aqui hay errores no se pq
        <td><%= user.address %></td>
>>>>>>> 3ab5b713ab9c81f72d26979a2002c84627a5cd7f
        <td><%= user.email %></td>
        <td><%= user.birthday %></td>
        <td><%= user.description %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Wishlist',"/users/wishlist/%s"%[user.id] %></td>
-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, {:class => "btn btn-primary"} %>
<a href="/">Home</a>