<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>



<%= link_to 'Edit', edit_user_path(@user) , { :class=>"btn btn-primary" }%>
<%= link_to 'Back', users_path , { :class=>"btn btn-primary" }%>
