<p id="notice"><%= notice %></p>

<p>
  <strong>Rails:</strong>
  <%= @wishlisttoproject.rails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @wishlisttoproject.generate %>
</p>

<p>
  <strong>Model:</strong>
  <%= @wishlisttoproject.model %>
</p>

<p>
  <strong>Project to wishlist:</strong>
  <%= @wishlisttoproject.project_to_wishlist %>
</p>

<%= link_to 'Edit', edit_wishlisttoproject_path(@wishlisttoproject) %> |
<%= link_to 'Back', wishlisttoprojects_path %>
