<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:AntiqueWhite;" >
<div>
  <div>
    <h1><%= @project.tittle %></h1>
    <h3><%= @project.markdown %></h3>
    <p><%= @project.description %></p>
  </div>
  <div>

  </div>
</div>
<table class="table table-stripped ">
  <tr><td>Goal amount</td> <td><%= @project.goalamount %></td></tr>
  <tr><td>Current amount</td> <td><%= @project.currentamount %></td></tr>
  <tr><td>Approved</td> <td><%= @project.approved %></td></tr>
  <tr><td>Pending approval</td> <td><%= @project.pendingapproval %></td></tr>
  <tr><td>Deadline</td> <td><%= @project.deadline %></td></tr>
  <tr><td>Category</td> <td><%= @project.category.name %></td></tr>
</table>
<table class="btn-table table-lg">
  <tr>
    <td>
      <form action="/projects">
        <input class="btn btn-primary" type="submit" value="Add to wishlist">
      </form>
    </td>
    <td>
      <form action="/projects">
        <input class="btn btn-primary" type="submit" value="Delete">
      </form>
    </td>
    <td>
      <form action="/projects">
        <input class="btn btn-primary" type="submit" value="Back">
      </form>
    </td>
  </tr>
</table>

