<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Markdown:</strong>
  <%= @project.markdown %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goalamount:</strong>
  <%= @project.goalamount %>
</p>

<p>
  <strong>Currentamount:</strong>
  <%= @project.currentamount %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @project.approved %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category.name %>
</p>

<%= link_to 'Edit', edit_project_path(@project)  , { :class=>"btn btn-primary" } %> |
<%= link_to 'Back', projects_path   , { :class=>"btn btn-primary" }%>
