<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectCatfinding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body style="background-color:AntiqueWhite;">
  <nav class="navbar navbar-inverse" style="height: 60px">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="/assets/gato.png" height="59px" href="/">
      </div>
      <ul class="nav navbar-nav navbar-home navbar-light">
        <li class=""><a href="/projects">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/projects">All</a></li>
            <% @categories=Category.all %>
            <%= @categories.each do |category|   %>
              <li><%= link_to category.name, "/projects/category/%s" % [category.id] %></li>
            <% end %>
          </ul>
          <% if user_signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Info<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "My info", '/users/%s' % [current_user[:id]] , method: :get %> </li>
            <li><a href="/projects">My Projects</a></li>
          </ul>
        </li>
          <% else %>
          <li class=""><a href="/users/sign_in">My Info</a></li>
        <% end %>

      </ul>
      <ul class = "nav navbar-nav navbar-home navbar-light right-header" >
        <li>
          <i class="material-icons" style="color: #4d3518; font-size: 48px">pets</i>
        </li>
        <li>
          <div class="div-child" style="font-size: 14px">
          <% if user_signed_in? %>
            <div style="font-size: 14px">Hey</div>
            <div><%=current_user.name%> \(^-^)/</div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          <% else %>
            <div style="font-size: 14px">Hey</div>
            <div>Beautiful</div>
            <%= link_to "Wanna Log In?", new_user_session_path %>
          <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
