<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:AntiqueWhite;" >


<center>
  <p id="notice"><%= notice %></p>

<h1>Promises</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Etd</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promises.each do |promise| %>
      <tr>
        <td><%= promise.name %></td>
        <td><%= promise.amount %></td>
        <td><%= promise.description %></td>
        <td><%= promise.etd %></td>
        <td><%= promise.project %></td>
        <td><%= link_to 'Show', promise %></td>
        <td><%= link_to 'Edit', edit_promise_path(promise) %></td>
        <td><%= link_to 'Destroy', promise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promise', new_promise_path %>
<li><a href="/">Home</a></li>
</center>
</body>
</html>