<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promise.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @promise.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promise.description %>
</p>

<p>
  <strong>Etd:</strong>
  <%= @promise.etd %>
</p>

<p>
  <strong>Project:</strong>
  <%= @promise.project %>
</p>

<%= link_to 'Edit', edit_promise_path(@promise)   , { :class=>"btn btn-primary" }%> |
<%= link_to 'Back', promises_path  , { :class=>"btn btn-primary" } %>
